<h1>Task Manager</h1>

<form action="/api/task" method="POST">
    <input
        type="text"
        name="text"
        placeholder="Describe you task..."
        autocomplete="off"
        autofocus
    /><input type="submit" value="Save" />
</form>

<label for="task-list">Your tasks:</label>
<ul id="task-list"></ul>

<script>
    const taskList = document.getElementById('task-list');

    window.onload = async () => {
        var res = await fetch(`${window.location}api/task`);
        var tasks = await res.json();
        for (const task of tasks) {
            taskList.innerHTML += `<li><input type="text" value="${task.text}"><input type="button" value="✏️"><input type="button" value="❌"></li>`;
        }
    };
</script>

<style>
    input {
        margin: 3px;
        padding: 3px;
        border: solid 1px #ccc;
        border-radius: 6px;
        outline: none;
    }
    input[type='submit']:hover,
    input[type='button']:hover {
        cursor: pointer;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
</style>
